<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @user.day %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Back', events_path %>
