<!DOCTYPE html>
<html>
  <head>
    <title>EventCallenderApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class = "header-logo">
        <h1>Events Callender</h1>
      </div>
      <div class = "header-list">
        <ul>
          <%= link_to("TOP", "/") %>
          <%= link_to("応募フォーム", "/users/new") %>
        </ul>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
